AgentforceQuoting/flows/Identify_QuoteLineItem_from_Product_Feedback.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Sets the quote line item for the product record</description>
        <name>Set_QuoteLineItem_Id</name>
        <label>Set Quote Line Item Id</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>QuoteLineItemId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Identify_Quote_Line_Item.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>Gets a QuoteLineItem record Id from a Product2 record.</description>
    <environments>Default</environments>
    <interviewLabel>Identify QuoteLineItem from Product {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Identify QuoteLineItem from Product Feedback</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Identifies the quote line item on a quote record, given a Product2 record ID.</description>
        <name>Identify_Quote_Line_Item</name>
        <label>Identify Quote Line Item</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_QuoteLineItem_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Product2Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Identify_Quote_Line_Item</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Stores the 18-digit product record ID.</description>
        <name>Product2Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the 18-digit quote record ID.</description>
        <name>QuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the 18-digit QuoteLineItem record Id.</description>
        <name>QuoteLineItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
