QuotingAI/flows/Add_Discount_to_QuoteLineItem.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Calls the PlaceSalesTransaction invocable action so it can apply the discount to the quote.</description>
        <name>CallPlaceSalesTransaction</name>
        <label>Call Place Sales Transaction</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <actionName>placeSalesTransaction</actionName>
        <actionType>placeSalesTransaction</actionType>
        <connector>
            <targetReference>GetQuoteLineItem</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>graph</name>
            <value>
                <elementReference>PSTGraph</elementReference>
            </value>
        </inputParameters>
        <nameSegment>placeSalesTransaction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Indicate success through an output message.</description>
        <name>Output_Message</name>
        <label>Output Message</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>OutputMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Discount successfully applied. </stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Shows a message to indicate when the discount wasn’t successfully applied</description>
        <name>SetFailureMessage</name>
        <label>Set Failure Message</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>OutputMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Discount was not successfully applied.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Sets the values for the Graph Apex-defined type as an input to the PlaceSalesTransaction invocable action.</description>
        <name>SetGraphInput</name>
        <label>Set Graph Input</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>PSTGraph.records</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuoteRecordReference</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PSTGraph.records</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuoteLineRecordReference</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PSTGraph.graphId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>placeholder</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CallPlaceSalesTransaction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign new QuoteLineItem fields by populating the RecordMapWrappers and create QuoteLineItem Record Reference to be used within the Graph Apex-defined type, as an input to the PlaceSalesTransaction IA.</description>
        <name>SetQuoteLineItemValues</name>
        <label>Set Quote Line Item Values</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>DiscountRecordMapWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Discount</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DiscountRecordMapWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DiscountPercentage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineRecordReference.record.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DiscountRecordMapWrapper</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineRecordReference.record.type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>QuoteLineItem</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineRecordReference.record.method</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PATCH</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineRecordReference.record.id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteLineItemId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineRecordReference.referenceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteLineItemId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetQuoteValues</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Creates a quote record reference that’s used within the Graph Apex-defined type input for the PlaceSalesTransaction invocable action.</description>
        <name>SetQuoteValues</name>
        <label>Set Quote Values</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>QuoteRecordReference.record.type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Quote</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteRecordReference.record.method</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PATCH</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteRecordReference.record.id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteRecordReference.referenceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetGraphInput</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Determines whether the discount was applied to the quote line item.</description>
        <name>IsDiscountApplied</name>
        <label>Is Discount Applied?</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>SetFailureMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No(Default)</defaultConnectorLabel>
        <rules>
            <name>Discount_Applied</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetQuoteLineItem.Discount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DiscountPercentage</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Output_Message</targetReference>
            </connector>
            <label>Discount Applied</label>
        </rules>
    </decisions>
    <description>Applies a discount, expressed as a percentage, to the individual quote line item.</description>
    <environments>Default</environments>
    <interviewLabel>Add Discount to QuoteLineItem {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Discount to Quote Line Item</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Gets the quote line item record to validate that the discount was applied successfully.</description>
        <name>GetQuoteLineItem</name>
        <label>Get Quote Line Item</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsDiscountApplied</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteLineItemId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Discount</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SetQuoteLineItemValues</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>The discount, expressed as a percentage, that’s applied to the quote line item. The input value must be a number with up to decimals. For example, specifying 33.33 applies a 33.33% discount. The maximum value is 100.</description>
        <name>DiscountPercentage</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>Sets the record map wrapper Apex-defined type that specifies the QuoteLineItem.Discount field name (key) and value (object) for the quote. This variable is used to construct the Graph Apex-defined type input for the PlaceSalesTransaction invocable action.</description>
        <name>DiscountRecordMapWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Defines the content of the output message using the quote line item and the updated subtotal for the quote</description>
        <name>OutputMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Sets values for the Graph Apex-defined type that’s used as an input for the PlaceSalesTransaction invocable action.</description>
        <name>PSTGraph</name>
        <apexClass>RevSalesTrxn__Graph</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the 18-character ID for the quote record that this flow modifies</description>
        <name>QuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the 18-character ID for the quote line item record that this flow modifies.</description>
        <name>QuoteLineItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Sets the record reference for the quote line item that this flow modifies. This variable is used to construct the Graph Apex-defined type input for the PlaceSalesTransaction invocable action.</description>
        <name>QuoteLineRecordReference</name>
        <apexClass>RevSalesTrxn__RecordReference</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Sets the record reference for the quote that this flow modifies. This variable is used to construct the Graph Apex-defined type input for the PlaceSalesTransaction invocable action.</description>
        <name>QuoteRecordReference</name>
        <apexClass>RevSalesTrxn__RecordReference</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
