QuotingAI/flows/Create_New_Business_Quote.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Calls the PlaceSalesTransaction invocable action to create a quote.</description>
        <name>CallPlaceSalesTransaction</name>
        <label>Call Place Sales Transaction</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <actionName>placeSalesTransaction</actionName>
        <actionType>placeSalesTransaction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>graph</name>
            <value>
                <elementReference>PSTGraph</elementReference>
            </value>
        </inputParameters>
        <nameSegment>placeSalesTransaction</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>QuoteId</assignToReference>
            <name>salesTransactionId</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Creates a quote record reference that’s used within the Graph Apex-defined type input for the PlaceSalesTransaction invocable action.</description>
        <name>CreateQuoteRecordReference</name>
        <label>Create Quote Record Reference</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>QuoteRecordReference.referenceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>placeholder</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteRecordReference.record.method</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>POST</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteRecordReference.record.type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Quote</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteRecordReference.record.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuoteNameRecordMapWrapper</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteRecordReference.record.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OppNameRecordMapWrapper</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteRecordReference.record.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PricebookNameRecordMapWrapper</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetGraphInput</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the values for the Graph Apex-defined type as an input to the PlaceSalesTransaction invocable action</description>
        <name>SetGraphInput</name>
        <label>Set Graph Input</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>PSTGraph.graphId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>placeholder</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PSTGraph.records</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuoteRecordReference</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CallPlaceSalesTransaction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the fields on the quote by populating the record map wrappers. This element is used to construct the Graph Apex-defined type input for the PlaceSalesTransaction invocable action.</description>
        <name>SetQuoteFields</name>
        <label>Set Quote Fields</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>QuoteNameRecordMapWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Name</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteNameRecordMapWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppNameRecordMapWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OpportunityId</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppNameRecordMapWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOpportunityRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookNameRecordMapWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pricebook2Id</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookNameRecordMapWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetPriceBookId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillToCityRMW.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BillingCity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillToCityRMW.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOpportunityRecord.Account.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillToCountryRMW.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BillingCountry</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillToCountryRMW.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOpportunityRecord.Account.BillingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillToNameRMW.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BillingName</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillToNameRMW.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOpportunityRecord.Account.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillToStateProvinceRMW.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BillingState</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillToStateProvinceRMW.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOpportunityRecord.Account.BillingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillToStreetRMW.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BillingStreet</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillToStreetRMW.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOpportunityRecord.Account.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillToPostalCodeRMW.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BillingPostalCode</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillToPostalCodeRMW.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOpportunityRecord.Account.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShipToCityRMW.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ShippingCity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShipToCityRMW.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOpportunityRecord.Account.ShippingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShipToCountryRMW.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ShippingCountry</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShipToCountryRMW.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOpportunityRecord.Account.ShippingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShipToNameRMW.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ShippingName</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShipToNameRMW.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOpportunityRecord.Account.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShipToStateProvinceRMW.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ShippingState</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShipToStateProvinceRMW.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOpportunityRecord.Account.ShippingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShipToStreetRMW.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ShippingStreet</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShipToStreetRMW.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOpportunityRecord.Account.ShippingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShipToPostalCodeRMW.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ShippingPostalCode</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShipToPostalCodeRMW.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOpportunityRecord.Account.ShippingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateQuoteRecordReference</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Determines the number of the quote based on the total count of related quotes on the opportunity. Used to name the quote. For example, an opportunity has 10 quotes. This quote is quote 11.</description>
        <name>SetQuoteNumber</name>
        <label>Set Quote Number</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>QuoteNumber</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetQuotesOnOpportunity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteNumber</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetPriceBookId</targetReference>
        </connector>
    </assignments>
    <description>Creates a quote record for new business on an opportunity.</description>
    <environments>Default</environments>
    <formulas>
        <description>Used to calculate the quote name based on the number of quotes already on the opportunity.</description>
        <name>CalculatedQuoteName</name>
        <dataType>String</dataType>
        <expression>&quot;Quote &quot; + TEXT({!QuoteNumber}) + &quot; for &quot; + {!GetOpportunityRecord.Name}</expression>
    </formulas>
    <interviewLabel>Create New Business Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create a Quote for New Business on an Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Gets the opportunity record that’s related to the quote that this flow creates.</description>
        <name>GetOpportunityRecord</name>
        <label>Get Opportunity Record</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetQuotesOnOpportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the ID of the Pricebook2 record for the pricebook that’s assigned to the quote</description>
        <name>GetPriceBookId</name>
        <label>Get Price Book Id</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetQuoteFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PriceBookName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets all quotes related to the opportunity.</description>
        <name>GetQuotesOnOpportunity</name>
        <label>Get Quotes on Opportunity</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetQuoteNumber</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetOpportunityRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetOpportunityRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>RecordMapWrapper Apex-defined type to specify Quote.BillToCity field name (key) and value (obj) for the new quote. Used to construct the Graph Apex-defined type input for the PlaceSalesTransaction Invokable Action.</description>
        <name>BillToCityRMW</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>RecordMapWrapper Apex-defined type to specify Quote.BillToCountry field name (key) and value (obj) for the new quote. Used to construct the Graph Apex-defined type input for the PlaceSalesTransaction Invokable Action.</description>
        <name>BillToCountryRMW</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>RecordMapWrapper Apex-defined type to specify Quote.BillToName field name (key) and value (obj) for the new quote. Used to construct the Graph Apex-defined type input for the PlaceSalesTransaction Invokable Action.</description>
        <name>BillToNameRMW</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>RecordMapWrapper Apex-defined type to specify Quote.BillToPostalCode field name (key) and value (obj) for the new quote. Used to construct the Graph Apex-defined type input for the PlaceSalesTransaction Invokable Action.</description>
        <name>BillToPostalCodeRMW</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>RecordMapWrapper Apex-defined type to specify Quote.BillToStreet field name (key) and value (obj) for the new quote. Used to construct the Graph Apex-defined type input for the PlaceSalesTransaction Invokable Action.</description>
        <name>BillToStateProvinceRMW</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>RecordMapWrapper to specify Quote.BillToStreet field name (key) and value (obj) for the new quote.</description>
        <name>BillToStreetRMW</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Sets the record map wrapper Apex-defined type that specifies the Quote.Opportunity field name (key) and value (object) for the quote. This variable is used to construct the Graph Apex-defined type input for the PlaceSalesTransaction invocable action.</description>
        <name>OppNameRecordMapWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The ID of the opportunity record that’s used to create a quote for new business</description>
        <name>OpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the name of the pricebook that’s assigned to the quote.</description>
        <name>PriceBookName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Standard Price Book</stringValue>
        </value>
    </variables>
    <variables>
        <description>Sets the record map wrapper Apex-defined type that specifies the Quote.Pricebook2Id field name (key) and value (object) for the quote. This variable is used to construct the Graph Apex-defined type input for the PlaceSalesTransaction invocable action.</description>
        <name>PricebookNameRecordMapWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Sets values for the Graph Apex-defined type that’s used as an input for the PlaceSalesTransaction invocable action.</description>
        <name>PSTGraph</name>
        <apexClass>RevSalesTrxn__Graph</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the 18-character ID for the quote record that this flow modifies.</description>
        <name>QuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores the name of the quote.</description>
        <name>QuoteName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>CalculatedQuoteName</elementReference>
        </value>
    </variables>
    <variables>
        <description>Sets the record map wrapper Apex-defined type that specifies the Quote.Name field name (key) and value (object) for the quote. This variable is used to construct the Graph Apex-defined type input for the PlaceSalesTransaction invocable action.</description>
        <name>QuoteNameRecordMapWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Sets the count of all quotes on the opportunity after this flow creates a quote.</description>
        <name>QuoteNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Record Apex-defined type for Quote to be created. Used to construct the Graph Apex-defined type input for the PlaceSalesTransaction Invokable Action.</description>
        <name>QuoteRecord</name>
        <apexClass>RevSalesTrxn__Record</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Sets the record reference for the quote that this flow modifies. This variable is used to construct the Graph Apex-defined type input for the PlaceSalesTransaction invocable action.</description>
        <name>QuoteRecordReference</name>
        <apexClass>RevSalesTrxn__RecordReference</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>RecordMapWrapper Apex-defined type to specify Quote.ShipToCity field name (key) and value (obj) for the new quote. Used to construct the Graph Apex-defined type input for the PlaceSalesTransaction Invokable Action.</description>
        <name>ShipToCityRMW</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>RecordMapWrapper Apex-defined type to specify Quote.ShipToCountry field name (key) and value (obj) for the new quote. Used to construct the Graph Apex-defined type input for the PlaceSalesTransaction Invokable Action.</description>
        <name>ShipToCountryRMW</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>RecordMapWrapper Apex-defined type to specify  Quote.ShipToName field name (key) and value (obj) for the new quote. Used to construct the Graph Apex-defined type input for the PlaceSalesTransaction Invokable Action.</description>
        <name>ShipToNameRMW</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>RecordMapWrapper Apex-defined type to specify Quote.ShipToPostalCode field name (key) and value (obj) for the new quote. Used to construct the Graph Apex-defined type input for the PlaceSalesTransaction Invokable Action.</description>
        <name>ShipToPostalCodeRMW</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>RecordMapWrapper Apex-defined type to specify Quote.ShipToStateProvince field name (key) and value (obj) for the new quote. Used to construct the Graph Apex-defined type input for the PlaceSalesTransaction Invokable Action.</description>
        <name>ShipToStateProvinceRMW</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>RecordMapWrapper Apex-defined type to specify Quote.ShipToStreet field name (key) and value (obj) for the new quote. Used to construct the Graph Apex-defined type input for the PlaceSalesTransaction Invokable Action.</description>
        <name>ShipToStreetRMW</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
