QuotingAI/flows/Create_Amendment_Quote.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Calls an action that initiates the process to create an amendment quote.</description>
        <name>Create_Amendment_Quote</name>
        <label>Create Amendment Quote</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <actionName>initiateAmendment</actionName>
        <actionType>initiateAmendment</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>amendAssetIds</name>
            <value>
                <elementReference>AssetIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>amendStartDate</name>
            <value>
                <elementReference>AmendmentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>quantityChange</name>
            <value>
                <elementReference>AmendmentQuantityChange</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>amendOutputType</name>
            <value>
                <elementReference>AmendmentOutputType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>amendOpportunityId</name>
            <value>
                <elementReference>AmendmentOpportunityId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>amendContractId</name>
            <value>
                <elementReference>Get_Asset_Contract_Rela.ContractId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>initiateAmendment</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>AmendmentQuoteId</assignToReference>
            <name>amendRecordId</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Sets the asset record of the current element in the loop.</description>
        <name>SetAssetId</name>
        <label>Set Asset ID</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateOverAssetCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>IterateOverAssetCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the opportunity ID for the amendment quote based on the new opportunity record.</description>
        <name>SetOpportunityRecord</name>
        <label>Set Opportunity Record</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>AmendmentOpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Amend_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateOverAssetCollection</targetReference>
        </connector>
    </assignments>
    <description>Creates an amendment quote and related opportunity for the amendment on an account that has active assets.</description>
    <environments>Default</environments>
    <interviewLabel>Create Amendment Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Amendment Quote</label>
    <loops>
        <description>Repeats actions for each asset collection so it can retrieve each element</description>
        <name>IterateOverAssetCollection</name>
        <label>Iterate Over Asset Collection</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>AssetIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetAssetId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Asset_Contract_Rela</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates an opportunity record using the account information and amendment date. The opportunity must be created before the amendment quote is created.</description>
        <name>Create_Amend_Opportunity</name>
        <label>Create Amend Opportunity</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>SetOpportunityRecord</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>AmendmentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Amendment Opportunity for New Amend Quote</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Proposal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Amend</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Retrieves the asset contract relationship using one of the input asset IDs.</description>
        <name>Get_Asset_Contract_Rela</name>
        <label>Get Asset Contract Relationship</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Amendment_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssetId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AssetContractRelationship</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Amend_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Stores the account record that’s related to the amendment opportunity and amendment quote.</description>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the effective start date of the amendment. The date must be specified in YYYY-MM-DD format. If a start date isn’t provided, the amendment date defaults to today’s date.</description>
        <name>AmendmentDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <description>Stores the ID of the opportunity record that’s related to the amendment quote.</description>
        <name>AmendmentOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Specifies the type of amendment record to create. The output of an amendment action is either a quote record or an order record. This flow is used to create amendment quotes, so the output defaults to quote.</description>
        <name>AmendmentOutputType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Quote</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores the quantity of the asset that the amendment increases or decreases compared to the current asset quantity.</description>
        <name>AmendmentQuantityChange</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Stores the ID of the quote record the flow creates. If this variable is null, the action failed.</description>
        <name>AmendmentQuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores the asset ID from the input used to find the asset contract relationship.</description>
        <name>AssetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the list of asset IDs to amend.</description>
        <name>AssetIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
