SmartQuote/SmartQuoteCreation/flows/Create_Quote_from_Products.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Create Quote and QuoteLineItems</description>
        <name>Create_Quote_and_QuoteLineItems</name>
        <label>Create Quote and QuoteLineItems</label>
        <locationX>226</locationX>
        <locationY>2948</locationY>
        <actionName>placeSalesTransaction</actionName>
        <actionType>placeSalesTransaction</actionType>
        <connector>
            <targetReference>Get_Quote_Record</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>graph</name>
            <value>
                <elementReference>PSTGraph</elementReference>
            </value>
        </inputParameters>
        <nameSegment>placeSalesTransaction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Parse_Json_to_SearchProductsRepresentations</name>
        <label>Parse Json to SearchProductsRepresentations</label>
        <locationX>226</locationX>
        <locationY>134</locationY>
        <actionName>ParseSearchProductRepresentationJson</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Standard_Pricebook</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>searchProductsRepresentationJson</name>
            <value>
                <elementReference>SearchProductsRepresentationsJson</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ParseSearchProductRepresentationJson</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_QLIReference_to_Graph</name>
        <label>Add QLIReference to Graph</label>
        <locationX>798</locationX>
        <locationY>2648</locationY>
        <assignmentItems>
            <assignToReference>QLIReference.record.type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>QuoteLineItem</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIReference.record.method</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>POST</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIReference.referenceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QLIReferenceId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PSTGraph.records</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QLIReference</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>QLIIndex_Plus_Plus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_LoopPriceIndex_Zero</name>
        <label>Assign LoopPricesIndex Zero</label>
        <locationX>666</locationX>
        <locationY>1448</locationY>
        <assignmentItems>
            <assignToReference>LoopPricesIndex</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Prices</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Standard Priceboook</description>
        <name>Assign_Standard_Pricebook</name>
        <label>Assign Standard Pricebook</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>PricebookId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Standard_Pricebook.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Quote_Record_in_Graph</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_Quote</name>
        <label>Collect Quote</label>
        <locationX>226</locationX>
        <locationY>3164</locationY>
        <assignmentItems>
            <assignToReference>QuoteOutput</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote_Record</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Create Quote Line Item in Graph</description>
        <name>Create_Quote_Line_Item_in_Graph</name>
        <label>Create Quote Line Item in Graph</label>
        <locationX>798</locationX>
        <locationY>2240</locationY>
        <assignmentItems>
            <assignToReference>QLIQuoteIdWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>QuoteId</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIQuoteIdWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>@{refQuote.id}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIProduct2IdWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Product2Id</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIProduct2IdWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_SearchProductsRepresentations.id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIPricebookEntryIdWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PricebookEntryId</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIPricebookEntryIdWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QLIPrice.priceBookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIQuantityWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Quantity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIQuantityWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_SearchProductsRepresentations.description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIUnitPriceWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>UnitPrice</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIUnitPriceWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QLIPrice.price</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIReference.record.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QLIQuoteIdWrapper</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIReference.record.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QLIProduct2IdWrapper</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIReference.record.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QLIPricebookEntryIdWrapper</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIReference.record.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QLIQuantityWrapper</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIReference.record.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QLIUnitPriceWrapper</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_TermDefined_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Create quote record and add it in Graph</description>
        <name>Create_Quote_Record_in_Graph</name>
        <label>Create Quote Record in Graph</label>
        <locationX>226</locationX>
        <locationY>908</locationY>
        <assignmentItems>
            <assignToReference>QuoteNameWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Name</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteNameWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Quote from PSTIA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuotePricebookWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pricebook2Id</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuotePricebookWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PricebookId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteOpportunityWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OpportunityId</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteOpportunityWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteReference.record.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuoteOpportunityWrapper</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteReference.record.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuoteNameWrapper</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteReference.record.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuotePricebookWrapper</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteReference.record.type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Quote</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteReference.record.method</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>POST</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteReference.referenceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>refQuote</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PSTGraph.records</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuoteReference</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PSTGraph.graphId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Test</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_SearchProductsRepresentations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fields_for_Term_Defined_Product</name>
        <label>Fields for Term Defined Product</label>
        <locationX>666</locationX>
        <locationY>2456</locationY>
        <assignmentItems>
            <assignToReference>QLIStartDateWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>StartDate</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIStartDateWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QLIStartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLISubscriptionTerm.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SubscriptionTerm</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLISubscriptionTerm.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIPeriodBoundaryWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PeriodBoundary</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIPeriodBoundaryWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Anniversary</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLISubscriptionTermUnitWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SubscriptionTermUnit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLISubscriptionTermUnitWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QLIPrice.pricingModel.frequency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIReference.record.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QLIStartDateWrapper</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIReference.record.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QLISubscriptionTerm</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIReference.record.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QLIPeriodBoundaryWrapper</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIReference.record.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QLISubscriptionTermUnitWrapper</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_QLIReference_to_Graph</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Default_Price</name>
        <label>Get Default Price</label>
        <locationX>798</locationX>
        <locationY>1232</locationY>
        <assignmentItems>
            <assignToReference>QLIPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentItem_Filter_Default_Price</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Default_Price</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_First_Price</name>
        <label>QLIp</label>
        <locationX>754</locationX>
        <locationY>1772</locationY>
        <assignmentItems>
            <assignToReference>QLIPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Prices</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increase_LoopPricesIndex_One</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Increase LoopPricesIndex One</description>
        <name>Increase_LoopPricesIndex_One</name>
        <label>Increase LoopPricesIndex One</label>
        <locationX>754</locationX>
        <locationY>1880</locationY>
        <assignmentItems>
            <assignToReference>LoopPricesIndex</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Prices</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>QLIIndex_Plus_Plus</name>
        <label>QLIIndex Plus Plus</label>
        <locationX>798</locationX>
        <locationY>2756</locationY>
        <assignmentItems>
            <assignToReference>QLIIndex</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_SearchProductsRepresentations</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <description>Filter Default Price</description>
        <name>Filter_Default_Price</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Default Price</label>
        <locationX>798</locationX>
        <locationY>1124</locationY>
        <assignNextValueToReference>currentItem_Filter_Default_Price</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Loop_SearchProductsRepresentations.prices</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Default_Price.isDefault</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Get_Default_Price</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <description>Check if there is default price</description>
        <name>Check_Default_Price</name>
        <label>Check Default Price</label>
        <locationX>798</locationX>
        <locationY>1340</locationY>
        <defaultConnector>
            <targetReference>Create_Quote_Line_Item_in_Graph</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Price Found</defaultConnectorLabel>
        <rules>
            <name>No_default_Price</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QLIPrice</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_LoopPriceIndex_Zero</targetReference>
            </connector>
            <label>No default Price</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_first_price</name>
        <label>Check if first price</label>
        <locationX>886</locationX>
        <locationY>1664</locationY>
        <defaultConnector>
            <targetReference>Loop_Prices</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LoopPricesIndex_is_Zero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopPricesIndex</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_First_Price</targetReference>
            </connector>
            <label>LoopPricesIndex is Zero</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_TermDefined_Product</name>
        <label>Check TermDefined Product</label>
        <locationX>798</locationX>
        <locationY>2348</locationY>
        <defaultConnector>
            <targetReference>Add_QLIReference_to_Graph</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not TermDefined Product</defaultConnectorLabel>
        <rules>
            <name>TermDefined_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QLIPrice.pricingModel.pricingModelType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TermDefined</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fields_for_Term_Defined_Product</targetReference>
            </connector>
            <label>TermDefined Product</label>
        </rules>
    </decisions>
    <decisions>
        <description>Get Appropriate Pricebook</description>
        <name>Get_Appropriate_Pricebook</name>
        <label>Get Appropriate Pricebook</label>
        <locationX>226</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Get_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Opportunity is Not null</defaultConnectorLabel>
        <rules>
            <name>Opportunity_is_null</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Standard_Pricebook</targetReference>
            </connector>
            <label>Opportunity is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Get_Opportunity_s_Pricebook</name>
        <label>Get Opportunity&apos;s Pricebook</label>
        <locationX>402</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Standard_Pricebook</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Pricebook in Opportunity</defaultConnectorLabel>
        <rules>
            <name>Pricebook_is_in_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Pricebook2Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Pricebook2Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Quote_Record_in_Graph</targetReference>
            </connector>
            <label>Pricebook is in Opportunity</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>QLIReferenceId</name>
        <dataType>String</dataType>
        <expression>&quot;refQuoteLineItem&quot; + TEXT({!QLIIndex})</expression>
    </formulas>
    <formulas>
        <name>QLIStartDate</name>
        <dataType>String</dataType>
        <expression>TEXT(Year({!$Flow.CurrentDate})) + &quot;-&quot; + TEXT(Month({!$Flow.CurrentDate})) + &quot;-&quot; + TEXT(Day({!$Flow.CurrentDate}))</expression>
    </formulas>
    <interviewLabel>Create Quote from Products {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Quote from Products</label>
    <loops>
        <name>Loop_Prices</name>
        <label>Loop Prices</label>
        <locationX>666</locationX>
        <locationY>1556</locationY>
        <collectionReference>Loop_SearchProductsRepresentations.prices</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_first_price</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Quote_Line_Item_in_Graph</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop SearchProductsRepresentations</description>
        <name>Loop_SearchProductsRepresentations</name>
        <label>Loop SearchProductsRepresentations</label>
        <locationX>226</locationX>
        <locationY>1016</locationY>
        <collectionReference>Parse_Json_to_SearchProductsRepresentations.searchProductsRepresentations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_Default_Price</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Quote_and_QuoteLineItems</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get opportunity&apos;s PricebookId</description>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>402</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity_s_Pricebook</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get quote record</description>
        <name>Get_Quote_Record</name>
        <label>Get Quote Record</label>
        <locationX>226</locationX>
        <locationY>3056</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Collect_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Quote_and_QuoteLineItems.salesTransactionId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get standard pricebook</description>
        <name>Get_Standard_Pricebook</name>
        <label>Get Standard Pricebook</label>
        <locationX>226</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Appropriate_Pricebook</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsStandard</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Parse_Json_to_SearchProductsRepresentations</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Filter_Default_Price</name>
        <apexClass>runtime_industries_cpq__ProductPricesOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoopPricesIndex</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>OpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PricebookId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PSTGraph</name>
        <apexClass>RevSalesTrxn__Graph</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QLIIndex</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>QLIPeriodBoundaryWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QLIPrice</name>
        <apexClass>runtime_industries_cpq__ProductPricesOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QLIPricebookEntryIdWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QLIProduct2IdWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QLIQuantityWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QLIQuoteIdWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QLIReference</name>
        <apexClass>RevSalesTrxn__RecordReference</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QLIStartDateWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QLISubscriptionTerm</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QLISubscriptionTermUnitWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QLIUnitPriceWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuoteNameWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuoteOpportunityWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuoteOutput</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>QuotePricebookWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuoteReference</name>
        <apexClass>RevSalesTrxn__RecordReference</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SearchProductsRepresentationsJson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
