SmartQuote/SmartQuoteCreation/flows/Get_Products_from_Product_Mentions.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Find_Products_for_Each_Mention</name>
        <label>Find Products for Each Mention</label>
        <locationX>748</locationX>
        <locationY>458</locationY>
        <actionName>findProducts</actionName>
        <actionType>findProducts</actionType>
        <connector>
            <targetReference>Check_Products</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>searchTerm</name>
            <value>
                <elementReference>Loop_Parsed_Product_Mentions.product_name</elementReference>
            </value>
        </inputParameters>
        <nameSegment>findProducts</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Product_Mentions</name>
        <label>Get Product Mentions</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>exploreConversation</actionName>
        <actionType>exploreConversation</actionType>
        <connector>
            <targetReference>Parse_Product_Mentions_to_Apex_Class</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>VideoCallId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>question</name>
            <value>
                <stringValue>ignore</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>promptVersion</name>
            <value>
                <stringValue>SMART-QUOTE-V1</stringValue>
            </value>
        </inputParameters>
        <nameSegment>exploreConversation</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Parse_Product_Mentions_to_Apex_Class</name>
        <label>Parse Product Mentions to Apex Class</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>ParseProductMentionsJson</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Parsed_Product_Mentions</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>productMentionsJson</name>
            <value>
                <elementReference>Get_Product_Mentions.answer</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ParseProductMentionsJson</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Serialize_SearchProductsRepresentations</name>
        <label>Serialize SearchProductsRepresentations</label>
        <locationX>176</locationX>
        <locationY>1766</locationY>
        <actionName>SerializeSearchProductsRepresentation</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>searchProductsRepresentation</name>
            <value>
                <elementReference>SearchProductsRepresentations</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SerializeSearchProductsRepresentation</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>SearchProductsRepresentationsJson</assignToReference>
            <name>searchProductsRepresentationJson</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_LoopIndex_Zero</name>
        <label>Assign LoopIndex Zero</label>
        <locationX>616</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>LoopIndex</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Products_for_Each_Product_Mention</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Products_to_ProductsOutput</name>
        <label>Assign Products to ProductsOutput</label>
        <locationX>176</locationX>
        <locationY>1658</locationY>
        <assignmentItems>
            <assignToReference>ProductsOutput</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Products</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Serialize_SearchProductsRepresentations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_ProductIds_and_SearchProductsRepresentations</name>
        <label>Collect ProductIds and SearchProductsRepresentations</label>
        <locationX>704</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>ProductIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Products_for_Each_Product_Mention.id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Products_for_Each_Product_Mention.description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Parsed_Product_Mentions.quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SearchProductsRepresentations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Products_for_Each_Product_Mention</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopIndex_Plus_Plus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LoopIndex_Plus_Plus</name>
        <label>LoopIndex Plus Plus</label>
        <locationX>704</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>LoopIndex</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Products_for_Each_Product_Mention</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_LoopIndex</name>
        <label>Check LoopIndex</label>
        <locationX>836</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Loop_Parsed_Product_Mentions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>LoopIndex is Not Zero</defaultConnectorLabel>
        <rules>
            <name>LoopInde_is_Zero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopIndex</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collect_ProductIds_and_SearchProductsRepresentations</targetReference>
            </connector>
            <label>LoopInde is Zero</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Products</name>
        <label>Check Products</label>
        <locationX>748</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Loop_Parsed_Product_Mentions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Products_is_not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Products_for_Each_Mention.results</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_LoopIndex_Zero</targetReference>
            </connector>
            <label>Check Products is not Empty</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Get Products from Product Mentions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Products from Product Mentions</label>
    <loops>
        <name>Loop_Parsed_Product_Mentions</name>
        <label>Loop Parsed Product Mentions</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>Parse_Product_Mentions_to_Apex_Class.productMentions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Find_Products_for_Each_Mention</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Products_for_Each_Product_Mention</name>
        <label>Loop Products for Each Product Mention</label>
        <locationX>616</locationX>
        <locationY>782</locationY>
        <collectionReference>Find_Products_for_Each_Mention.results</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_LoopIndex</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Parsed_Product_Mentions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Products</name>
        <label>Get Products</label>
        <locationX>176</locationX>
        <locationY>1550</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Products_to_ProductsOutput</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ProductIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Product_Mentions</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>LoopIndex</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ProductIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductsOutput</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>SearchProductsRepresentations</name>
        <apexClass>runtime_industries_cpq__SearchProductsRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SearchProductsRepresentationsJson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VideoCallId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
