SmartQuote/SmartQuoteCreation/flows/Get_Products_from_Product_Mentions.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Find_Products_for_Each_Mention</name>
        <label>Find Products for Each Mention</label>
        <locationX>396</locationX>
        <locationY>458</locationY>
        <actionName>findProducts</actionName>
        <actionType>findProducts</actionType>
        <connector>
            <targetReference>Check_Products</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>searchTerm</name>
            <value>
                <elementReference>Loop_Parsed_Product_Mentions.product_name</elementReference>
            </value>
        </inputParameters>
        <nameSegment>findProducts</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Most_Revelant_Product</name>
        <label>Get Most Revelant Product</label>
        <locationX>264</locationX>
        <locationY>674</locationY>
        <actionName>GetMostRelevantProduct</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Collect_Products_and_SearchProductsRepresentations</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>productMention</name>
            <value>
                <elementReference>Loop_Parsed_Product_Mentions</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>searchProductsRepresentations</name>
            <value>
                <elementReference>Find_Products_for_Each_Mention.results</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetMostRelevantProduct</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Product_Mentions</name>
        <label>Get Product Mentions</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>exploreConversation</actionName>
        <actionType>exploreConversation</actionType>
        <connector>
            <targetReference>Parse_Product_Mentions_to_Apex_Class</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>VideoCallId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>question</name>
            <value>
                <stringValue>ignore</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>promptVersion</name>
            <value>
                <stringValue>SMART-QUOTE-V1</stringValue>
            </value>
        </inputParameters>
        <nameSegment>exploreConversation</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Parse_Product_Mentions_to_Apex_Class</name>
        <label>Parse Product Mentions to Apex Class</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>ParseProductMentionsJson</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Parsed_Product_Mentions</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>productMentionsJson</name>
            <value>
                <elementReference>Get_Product_Mentions.answer</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ParseProductMentionsJson</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Serialize_SearchProductsRepresentations</name>
        <label>Serialize SearchProductsRepresentations</label>
        <locationX>176</locationX>
        <locationY>1058</locationY>
        <actionName>SerializeSearchProductsRepresentation</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>searchProductsRepresentation</name>
            <value>
                <elementReference>SearchProductsRepresentations</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SerializeSearchProductsRepresentation</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>SearchProductsRepresentationsJson</assignToReference>
            <name>searchProductsRepresentationJson</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Collect_Products_and_SearchProductsRepresentations</name>
        <label>Collect Products and SearchProductsRepresentations</label>
        <locationX>264</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>ProductsOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Most_Revelant_Product.product</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SearchProductsRepresentations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Most_Revelant_Product.searchProductsRepresentation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Parsed_Product_Mentions</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Products</name>
        <label>Check Products</label>
        <locationX>396</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Loop_Parsed_Product_Mentions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Products_is_not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Products_for_Each_Mention.results</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Most_Revelant_Product</targetReference>
            </connector>
            <label>Check Products is not Empty</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Get Products from Product Mentions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Products from Product Mentions</label>
    <loops>
        <name>Loop_Parsed_Product_Mentions</name>
        <label>Loop Parsed Product Mentions</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>Parse_Product_Mentions_to_Apex_Class.productMentions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Find_Products_for_Each_Mention</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Serialize_SearchProductsRepresentations</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Product_Mentions</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ProductIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductsOutput</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>SearchProductsRepresentations</name>
        <apexClass>runtime_industries_cpq__SearchProductsRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SearchProductsRepresentationsJson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VideoCallId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
